
.order {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    overflow-y: overlay;
}
.order_content_container {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    flex-grow: 1;
    margin-top: 20px;
}
.order__itemlist {
    flex-grow: 1;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
    padding: 0 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.itemlist__container {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.border {
    height: 1px;
    background-color: rgb(213, 215, 219);
    margin: 0 0 5px 16px;
    display: block;
    flex-grow: 1;
    margin: 16px;
}
.Order_Details_Item {
    margin: 5px;
    border: 1px solid gray;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas:
        "name price button"
        "modifiers modifiers modifiers";
}
.Order_ItemList_Button {
    padding: 5px;
    font-size: 16px;
}
table {
    border-collapse: collapse;
}
.Order_Details_Table {
    table-layout: fixed;
    width: 100%;
}
.Order_ItemList_Grid {
    margin: 5px;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "button price"
        "options options"
        "addbutton addbutton";
}
.Order_ItemList_Grid_Button_Wrapper {
    grid-area: button;
}
.Order_ItemList_Grid_Price_Wrapper {
    grid-area: price;
}
.Order_ItemList_Grid_Options_Wrapper {
    grid-area: options;
    margin: 5px;
    padding: 5px;
}
.Order_ItemList_Grid_AddItem_Button_Wrapper {
    grid-area: addbutton;
}
.Order_ItemList_Grid_AddItem_Button {
    width: 90%;
    cursor: pointer;
    padding: 5px 0;
}
.Order_ItemList_Options_Container {
    background-color: pink;
}
.Order_Item_Options_Addons_List {
    list-style-type: none;
    padding: 5px;
    margin: 0 0 5px;
}
.Order_Item_Options_Addon_Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5px;
}
.Order_Item_Options_Addon_Item_Label {
    margin-left: 5px;
    user-select: none;
    cursor: pointer;
}
.Order_Item_Options_Addon_Item_Checkbox {
    cursor: pointer;
}

.Order_Details_Name_Wrapper {
    grid-area: name;
}
.Order_Details_Price_Wrapper {
    grid-area: price;
}
.Order_Details_Delete_Button_Wrapper {
    grid-area: button;
}
.Order_Details_Modifiers_Wrapper {
    grid-area: modifiers
}
.Order_Details_Modifiers_List {
    list-style-type: none;
    margin: 0;
}
.Order_Details_Modifiers_List_Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}
.Order_Details_Modifiers_List_Item_Name {
    flex-grow: 2;
    font-size: 14px;
}
.Order_Details_Modifiers_List_Item_Price {
    flex-grow: 1;
    font-size: 14px;
}
.Order_Item_Options_Addon_Item div:first-child() {
    flex-grow: 1;
}
.Order_ItemList_Button {
    width: 100%;
    cursor: pointer;
}
.Order_Details_Remove_Button {
    color: red;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: underline;
    position: relative;
    float: right;
}
.Order_Details_Modifier_Addons_List {
    margin: 0;
}
.Order_Details_Pricing_List {
    border: none;
}
.Order_Details_Pricing_List_Item {
    display: flex;
    flex-direction: row;
}
.Order_Details_Pricing_Label {
    flex: 3;
    text-align: right;
    font-weight: 700;
    padding: 5px;
}
.Order_Details_Pricing_Price {
    flex: 1;
    text-align: left;
    padding: 5px;
}
.Order_Details_Checkout_Wrapper {
    margin-bottom: 15px;
}
.Order_Details_Modifiers_Addons_Header {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-top: 10px;
}
.Order_Details_Modifier_Addons_List {
    list-style-type: none;
}


.Order_Details_Modifier_Container {
    text-align: left;
}


.Orders_OrderItem_Modal_Details_Content_Item_Modifiers_List_Item_Modifier_Label {
    font-family: "Lato Light", sans-serif;
    font-weight: 400;
    margin-right: 4px;
    font-size: 14px;
}
.Orders_OrderItem_Modal_Details_Content_Item_Modifiers_List_Item_Modifier {
    font-family: "Lato Light", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.order_header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0 16px;
    font-family: "Lato", sans-serif;
}
.order_header_banner_wrapper {
    overflow: hidden;
    height: 360px;
    border-radius: 8px;
    margin-bottom: 24px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.order_header_banner_image {
    object-fit: cover;
    width: 100%;
    height: 120%;
    transform: translate3d(0, -15%, 0);
    -webkit-transform: translate3d(0, -15%, 0);
    -moz-transform: translate3d(0, -15%, 0);
    -ms-transform: translate3d(0, -15%, 0);
    -o-transform: translate3d(0, -15%, 0);
}
.order_header_content_container {
    padding-bottom: 24px;
}
.order_header_content_header {
    margin: 0;
    color: rgb(25, 25, 25);
    text-align: left;
}
.order_header_content_text {
    margin-top: 4px;
    display: block;
    color: rgb(118, 118, 118);
    font-size: 20px;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 500;
}
.order_border {
    display: block;
    margin: 8px 16px;
    border: none;
    height: 1px;
    background: rgb(231, 231, 231);
}

.category_header {
    text-align: left;
    padding: 0 16px;
    margin: 0;
    font-family: "Lato Heavy", sans-serif;
    font-weight: 700;
}
.category_container {
    margin-bottom: 10px;
}