.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    z-index: 4;
    box-sizing: border-box;
    padding: 20px;
}
.container {
    min-width: 600px;
    width: calc(100% / 3);
    max-height: 100%;
    background-color: white;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gap {
    border-top: 1px solid rgb(213, 215, 219);
    border-bottom: 1px solid rgb(213, 215, 219);
    background-color: rgb(233, 234, 236);
    width: calc(100% + 30px);
    margin: 0 15px 0 -15px;
    height: 8px;
}
.header {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 15px;
}
.close_button {
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.content_header {
    font-size: 25px;
    font-family: "Lato Heavy", sans-serif;
    margin: 0 0 15px 0;
    text-align: left;
    width: 100%
}
.content {
    flex-grow: 1;
    width: 100%;
    padding: 0 15px 15px 15px;
    overflow-y: scroll;
}
.footer {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 25px;
}
.add_button {
    cursor: pointer;
    background-color: rgb(0, 187, 225);
    border-radius: 25px;
    padding: 10px 16px;
    font-weight: 700;
    border: none;
    color: white;
    outline: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    min-width: 175px;
}
.description {
    margin-bottom: 25px;
    text-align: left;
    width: 100%;
    font-family: "Lato", sans-serif;
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 600;
    display: block;
}
.image_wrapper {
    width: 100%;
    height: 280px;
    padding: 0 15px;
    overflow: hidden;
}
.image_wrapper > img {
    transform: translate(-10%, -20%);
    -webkit-transform: translate(-10%, -20%);
    -moz-transform: translate(-10%, -20%);
    -ms-transform: translate(-10%, -20%);
    -o-transform: translate(-10%, -20%);
}
.image_fit_wrapper {
    width: 100%;
    height: 280px;
    padding: 0 15px;
    overflow: hidden;
}
.image_fit_wrapper > img {
    height: 100%;
    object-fit: cover;
}