.savedorder {
    flex-basis: calc(100% / 3);
    flex-grow: 1;
    max-width: calc(100% / 2);
    padding: 10px;
}
.savedorder > button {
    height: 100%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.MenuItem_Card:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.details {
    flex: 1 1;
    text-align: left;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: rgb(51, 51, 51);
    margin: 0 0 5px 0;
    user-select: none;
    text-transform: capitalize;
}
.description {
    font-size: 17px;
    font-weight: 700;
    font-family: "Lato Light", sans-serif;
    color: rgb(71, 71, 71);
    user-select: none;
}
.image_wrapper {
    height: 160px;
    width: 160px;
    overflow: hidden;
    border-radius: 0 6px 6px 0;
}
.image_wrapper > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    image-rendering: optimizeSpeed;
    transform: translate3d(-20px, -22px, 1px);
    -webkit-transform: translate3d(-20px, -22px, 1px);
    -moz-transform: translate3d(-20px, -22px, 1px);
    -ms-transform: translate3d(-20px, -22px, 1px);
    -o-transform: translate3d(-20px, -22px, 1px);
}
.image_fit_wrapper {
    height: 160px;
    width: 160px;
    overflow: hidden;
    border-radius: 0 6px 6px 0;
}
.image_fit_wrapper > img {
    height: 100%;
    object-fit: cover;
}